/* [project]/src/app/components/home/Slider.module.css [app-client] (css) */
.Slider-module__HeVZNa__backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Slider-module__HeVZNa__slide {
  margin: 1.5rem;
  border-radius: 1.5rem;
  background-color: #333c;
  padding: 1.5rem;
}

@media (width >= 1024px) {
  .Slider-module__HeVZNa__slide {
    margin-left: 10rem;
    height: 90%;
    width: 45rem;
    padding: 2.5rem;
  }
}

@media (width >= 1536px) {
  .Slider-module__HeVZNa__slide {
    margin-left: 20rem;
    width: 60rem;
  }
}

.Slider-module__HeVZNa__slideTitle {
  font-family: var(--font-em-one), sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (width >= 1024px) {
  .Slider-module__HeVZNa__slideTitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.Slider-module__HeVZNa__slideText {
  padding-top: 1rem;
  font-family: var(--font-kollektif), sans-serif;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (width >= 1024px) {
  .Slider-module__HeVZNa__slideText {
    padding-top: 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.Slider-module__HeVZNa__slideButton {
  display: inline-flex;
  height: 3rem;
  min-height: 3rem;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-btn, .5rem);
  border-color: #0000;
  border-color: oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: .875rem;
  line-height: 1em;
  gap: .5rem;
  font-weight: 600;
  text-decoration-line: none;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  border-width: var(--border-btn, 1px);
  transition-property: color, background-color, border-color, opacity, box-shadow, transform;
  --tw-text-opacity: 1;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
  --tw-shadow: 0 1px 2px 0 #0000000d;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
  background-color: oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
}

.Slider-module__HeVZNa__slideButton[disabled], .Slider-module__HeVZNa__slideButton:disabled {
  pointer-events: none;
}

:where(.Slider-module__HeVZNa__slideButton:is(input[type="checkbox"])), :where(.Slider-module__HeVZNa__slideButton:is(input[type="radio"])) {
  width: auto;
  appearance: none;
}

.Slider-module__HeVZNa__slideButton:is(input[type="checkbox"]):after, .Slider-module__HeVZNa__slideButton:is(input[type="radio"]):after {
  --tw-content: attr(aria-label);
  content: var(--tw-content);
}

@media (hover: hover) {
  .Slider-module__HeVZNa__slideButton:hover {
    --tw-border-opacity: 1;
    border-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-border-opacity)));
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
  }

  @supports (color: color-mix(in oklab, black, black)) {
    .Slider-module__HeVZNa__slideButton:hover {
      background-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black);
      border-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 90%, black);
    }
  }

  @supports not (color: oklch(0% 0 0)) {
    .Slider-module__HeVZNa__slideButton:hover {
      background-color: var(--btn-color, var(--fallback-b2));
      border-color: var(--btn-color, var(--fallback-b2));
    }
  }

  .Slider-module__HeVZNa__slideButton:hover {
    --tw-border-opacity: 1;
    border-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-border-opacity)));
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
  }

  @supports (color: color-mix(in oklab, black, black)) {
    .Slider-module__HeVZNa__slideButton:hover {
      background-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black);
      border-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 90%, black);
    }
  }

  @supports not (color: oklch(0% 0 0)) {
    .Slider-module__HeVZNa__slideButton:hover {
      background-color: var(--btn-color, var(--fallback-b2));
      border-color: var(--btn-color, var(--fallback-b2));
    }
  }

  .Slider-module__HeVZNa__slideButton:hover {
    --tw-border-opacity: 1;
    border-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-border-opacity)));
    --tw-bg-opacity: 1;
    background-color: var(--fallback-b3, oklch(var(--b3) / var(--tw-bg-opacity)));
  }

  @supports (color: color-mix(in oklab, black, black)) {
    .Slider-module__HeVZNa__slideButton:hover {
      background-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black);
      border-color: color-mix(in oklab, oklch(var(--btn-color, var(--b2)) / var(--tw-border-opacity, 1)) 90%, black);
    }
  }

  @supports not (color: oklch(0% 0 0)) {
    .Slider-module__HeVZNa__slideButton:hover {
      background-color: var(--btn-color, var(--fallback-b2));
      border-color: var(--btn-color, var(--fallback-b2));
    }
  }

  .Slider-module__HeVZNa__slideButton.Slider-module__HeVZNa__glass:hover {
    --glass-opacity: 25%;
    --glass-border-opacity: 15%;
  }

  .Slider-module__HeVZNa__slideButton[disabled]:hover, .Slider-module__HeVZNa__slideButton:disabled:hover {
    --tw-border-opacity: 0;
    background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
    --tw-bg-opacity: .2;
    color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
    --tw-text-opacity: .2;
  }

  @supports (color: color-mix(in oklab, black, black)) {
    .Slider-module__HeVZNa__slideButton:is(input[type="checkbox"]:checked):hover, .Slider-module__HeVZNa__slideButton:is(input[type="radio"]:checked):hover {
      background-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p) / 1)) 90%, black);
      border-color: color-mix(in oklab, var(--fallback-p, oklch(var(--p) / 1)) 90%, black);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .Slider-module__HeVZNa__slideButton {
    animation: button-pop var(--animation-btn, .25s) ease-out;
  }
}

.Slider-module__HeVZNa__slideButton:active:hover, .Slider-module__HeVZNa__slideButton:active:focus {
  animation: ease-out Slider-module__HeVZNa__button-pop;
  transform: scale(var(--btn-focus-scale, .97));
}

@supports not (color: oklch(0% 0 0)) {
  .Slider-module__HeVZNa__slideButton {
    background-color: var(--btn-color, var(--fallback-b2));
    border-color: var(--btn-color, var(--fallback-b2));
  }
}

.Slider-module__HeVZNa__slideButton:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
}

.Slider-module__HeVZNa__slideButton.Slider-module__HeVZNa__glass {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline-color: currentColor;
}

.Slider-module__HeVZNa__slideButton.Slider-module__HeVZNa__glass.Slider-module__HeVZNa__btn-active {
  --glass-opacity: 25%;
  --glass-border-opacity: 15%;
}

.Slider-module__HeVZNa__slideButton.Slider-module__HeVZNa__btn-disabled, .Slider-module__HeVZNa__slideButton[disabled], .Slider-module__HeVZNa__slideButton:disabled {
  --tw-border-opacity: 0;
  background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
  --tw-bg-opacity: .2;
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
  --tw-text-opacity: .2;
}

.Slider-module__HeVZNa__slideButton:is(input[type="checkbox"]:checked), .Slider-module__HeVZNa__slideButton:is(input[type="radio"]:checked) {
  --tw-border-opacity: 1;
  border-color: var(--fallback-p, oklch(var(--p) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
  --tw-text-opacity: 1;
  color: var(--fallback-pc, oklch(var(--pc) / var(--tw-text-opacity)));
}

.Slider-module__HeVZNa__slideButton:is(input[type="checkbox"]:checked):focus-visible, .Slider-module__HeVZNa__slideButton:is(input[type="radio"]:checked):focus-visible {
  outline-color: var(--fallback-p, oklch(var(--p) / 1));
}

.Slider-module__HeVZNa__join > :where(:not(:first-child)).Slider-module__HeVZNa__slideButton {
  margin-inline-start: calc(var(--border-btn) * -1);
}

.Slider-module__HeVZNa__join.Slider-module__HeVZNa__join-vertical > :where(:not(:first-child)).Slider-module__HeVZNa__slideButton {
  margin-top: calc(var(--border-btn) * -1);
}

.Slider-module__HeVZNa__join.Slider-module__HeVZNa__join-horizontal > :where(:not(:first-child)).Slider-module__HeVZNa__slideButton {
  margin-inline-start: calc(var(--border-btn) * -1);
  margin-top: 0;
}

.Slider-module__HeVZNa__slideButton {
  margin-top: 1rem;
  border-radius: 9999px;
  border-style: none;
  --tw-bg-opacity: 1;
  background-color: rgb(241 198 41 / var(--tw-bg-opacity, 1));
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: var(--font-em-one), sans-serif;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.Slider-module__HeVZNa__slideButton:hover {
  background-color: #f1c629cc;
}

@media (width >= 1024px) {
  .Slider-module__HeVZNa__slideButton {
    margin-top: 2.5rem;
  }
}

.Slider-module__HeVZNa__slider .swiper-pagination-progressbar {
  top: auto !important;
  bottom: 0 !important;
}

.Slider-module__HeVZNa__slider .swiper-button-next, .Slider-module__HeVZNa__slider .swiper-button-prev {
  color: #333 !important;
}

.Slider-module__HeVZNa__slider .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #f1c629 !important;
}

/*# sourceMappingURL=src_app_components_home_Slider_module_b52d8e.css.map*/